

<h2> <%= link_to "View History", history_path %> </h4>
<h1> <%= link_to "Add Store", new_store_path %> </h1>


<h1>Stores</h1>

<!-- I would make this ul a div or make the p tags inside <li>s -->
<ul class="stores">
<% @stores.each do |store| %>
  <p> <%= link_to store.name, store_path(store)%> </p>
<% end %>
</ul>
