/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  text-align: center;
}

.container {
  height: 1200px;
}

#welcome-header {
  font-size: 45px;
}


nav {
  padding: 10px;
  background-color: lemonchiffon;
  border-radius: 40px;
}
nav li {
  display: inline;
  font-size: 25px;
  padding: 10px;
}

.flash {
  padding: 1em;
  background-color: lemonchiffon;
  font-size: 20px;
}
.notice { color: black; }
.alert  { color: red;  }

a {
  text-decoration: none;
  color: black;
}

/*a:hover {
  background-color: white;
}*/

img {
  border-radius: 30%;
  height: 400px;
}

/*select#order_product_id {
  height: 20px;
}

input {
  font-size: 12px;
  height: 22px;
}*/
