<br>

<h1>Products</h1>


<% @products.each do |product| %>

<ul class="products">

  <%= image_tag product.img_url %>
  <p> <%= link_to product.name, product_path(product) %> </p>
  <p> <%= link_to product.store.name, store_path(product.store) %> </p>

  <br>

</ul>
<% end %>






<!-- <h2> <%#= link_to "Make an order", order_path(@products) %> </h2> -->
